* {
    border: 1px dashed black;
}

.menubar {
    padding: 5px;
    display: inline-block;
    width: 50%; /* Adjust the width as needed */
}

.topButtons {
    float: left;
    margin-right: 10px; /* Adjust the margin as needed */
}


#mainpagefeynmen {
    float: right;
    width: 40%; 
    padding-top: 0.5%;
    padding-left: 0.5%
    margin: 0; /* Remove default margin for the quote */
}
.mainbody{
    display: inline-block;
    
}

#picofme{
    height:auto;
    width:auto;
    max-width:29%;

    float:left;
    
}
#mainbodydesc{
    padding-top:auto;
    padding-inline-start: 40%;
}
